# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "39424f026e47881dea9a8f09db300f53"
name = "NZDev Section Installer"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
# Need theme access to install section files.
scopes = "read_themes,write_themes"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
